.hero-banner {
  background-color: #495E57;
  color: #EDEFEE;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 20px;
  gap: 4rem;
  align-items: center;
}

.hero-text h1 {
  color: #F4CE14;
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin: 0;
}

.hero-text h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
}

.hero-text p {
  font-size: 1rem;
  min-height: 4rem;
}

.hero-image {
  width: 400px;
  height: 400px;
  justify-self: right;
  overflow: hidden;
  margin-bottom: -6rem;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .hero-content {
    grid-template-columns: 1fr;
    padding: 1rem 0px;
    text-align: center;
  }

  .hero-text p {
    justify-self: center;
    width: 400px;
  }

  .hero-image {
    justify-self: center;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .hero-text p {
    width: 300px;
  }

  .hero-image {
    width: 300px;
    height: 300px;
  }
}
