.highlights-banner {
  background-color: #EDEFEE;
}

.highlights-content {
  padding: 6rem 20px 2rem 20px;
  color: #495E57;
  button {
    margin-top: 0;
  }
}

.highlights-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 2.5rem;
    line-height: 2rem;
  }
}

/* Cards */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background: #FFFFFF;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-info h3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  span {
    color: #EE9972;
  }
}

.card-info a {
  color: #495E57;
  text-decoration: none;
  font-weight: 600;
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.card-info a svg path {
  fill: #495E57;
}

.card-info a:hover svg path {
  fill: #333333;
}

.card-info a svg {
  transition: transform 0.25s ease;
}

.card-info a:hover svg {
  transform: translateX(4px); /* moves scooter slightly right */
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .highlights {
    padding: 2rem 0px;
  }
}